<div class="container">
  <div class="introbox">
    <div class="logo">
      <h1>Musion</h1>
    </div>
    <div class="intro">
      <h1>The ultimate destination of your Music</h1>
    </div>

  </div>
  
  <div class="login" >
    <form (submit)="submit()">
      <h3>Login</h3>
  
      <label for="email">Email</label>
      <input type="email" placeholder="Email" name="email" [(ngModel)]="email" />
  
      <label for="password">Password</label>
      <input type="password" placeholder="Password" name="password" [(ngModel)]=password />
  
      <button >Login</button>
      <div class="signuplink">
          <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
          
      </div>
      <span style="margin-left: 45%;" >OR</span>
      <div class="social">
        <a (click)="signInwithGoogle()">
          <div class="go"><i class="fab fa-google"></i> Google</div>
        </a>
        <a (click)="signInwithFB()">
          <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
        </a>
        
        
      </div>
    </form>
  </div>
    
  </div>